@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=League+Spartan:wght@100..900&display=swap');
      
* {padding: 0;
   margin: 0;}

body
  {
  background-color: #a0e8ff;
  width: 100%;
  height: 100vh;
  min-height: 100vh;}

header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 50, 0.85);
      color: white;
      text-align: center;
      z-index: 1000;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
     font-family: Cinzel Decorative;
    }
      
    .titulo {
      font-size: 2em; 
      padding: 20px 0 10px;
      font-weight: bold;
    }

    nav {
      padding: 10px 0;
     background-color: #020d2f;
        display: flex;
   justify-content: center;
       
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #a0e8ff;
      font-weight: bold;
      font-size: 1.1em;
        margin-left: 50px;
        margin-right: 50px;
        font-family: League Spartan;
         min-width: 5px;
    }

    nav a:hover {
      text-decoration: underline;
        
    }
    
.material-symbols-outlined {
  display: none;
}
    section {
    width: 100%;
    height: auto;
    padding: 130px 50px 50px; /* deja espacio para el header y menú */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
    }

    .nivel-1 {
      background-color: #a0e8ff;
      color: #003344;
        height: auto;
    }

    .nivel-2 {
      background-color: #4db8ff;
        color: #003344;
    }

    .nivel-3 {
      background-color: #0066cc;
        color: #a0e8ff;
    }

    .nivel-4 {
      background-color: #001f4d;
        color: #a0e8ff;

    }

    h1 {
      margin-bottom: 10px;
    font-family: Cinzel Decorative;
        font-size: 25px;
    }
      h5{ 
          font-family: League Spartan ;
          font-size: 50px;
      }
      p{
          max-width: 700px;
          font-family: League Spartan ;
          font-size: 20px;
      }
/* estilo de las paginas carrusel y textos*/

.container {
  position: relative;
  width: 80%;  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}


.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
text-align: center;
          max-width: none;
          font-family: League Spartan ;    
}

/*estilo del acordion*/
    /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #001f4d;
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
   height: 80px; 
    font-family:League Spartan ;
}

/* Add a background color to the button if it is clicked on (add the .active class w ith JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #020d2f;
    
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #064469;
  color: #ffffff;
  display: none;
  overflow: hidden;
  height: auto;
  font-family:League Spartan ;

}  
      

  /*footer estilo */
      footer{
        height: 190px;
          background: #020d2f;
          color: #FFFFFF;   
      }
  
.footerlinks {
  width:auto;
  float:left;
  padding: 20px;
  font-size:16px;
  line-height:15px;
  text-align:left; 
   font-family: League Spartan;
}
      h2{
          font-size: 18px;
      }
      
.footerlinks:nth-child(4) {
  padding-right:0;
}
.footerlinks h2 {
  margin-bottom:20px; 
    font-family: League Spartan;
}
.footerlinks a:visited,.footerlinks a:link{
  text-decoration:none;
    color:#ffffff;
}
.footerlinks a:hover,.footerlinks a:active{
  color:aqua;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  nav{
    display: none;
 }
 .material-symbols-outlined {
  display: block;
 }
 #text{
  font-size: 80px;
 }
}