@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=League+Spartan:wght@100..900&display=swap');
      
* {padding: 0;
   margin: 0;}

body
  {
  background-color: #a0e8ff;
  width: 100%;
  height: auto;
  }

header {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: rgba(0, 0, 50, 0.85);
      color: white;
      text-align: center;
      z-index: 100;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
     font-family: Cinzel Decorative;
     
    }
      
    .titulo {
      width: 100%;
      font-size: 2em; 
      padding: 20px 0 10px;
      font-weight: bold;
    }

    nav {
      padding: 10px 0;
     background-color: #020d2f;
        display: flex;
   justify-content: center;
       
    }
main{
  width: 100%;
  height: auto;
}
    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #a0e8ff;
      font-weight: bold;
      font-size: 1.1em;
        margin-left: 50px;
        margin-right: 50px;
        font-family: League Spartan;
         min-width: 5px;
    }

    nav a:hover {
      text-decoration: underline;
        
    }
    
    .headerprincipal_iconomenu-boton {
  display: none;
}
    section {
    
    height: auto;
    padding: 130px 50px 50px; /* deja espacio para el header y menú */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    }

    .nivel-1 {
      background-color: #a0e8ff;
      color: #003344;
        height: auto;
    }

    .nivel-2 {
      background-color: #4db8ff;
        color: #003344;
    }

    .nivel-3 {
      background-color: #0066cc;
        color: #a0e8ff;
    }

    .nivel-4 {
      background-color: #001f4d;
        color: #a0e8ff;

    }

    h1 {
      margin-bottom: 10px;
    font-family: Cinzel Decorative;
        font-size: 25px;
    }
      h5{ 
          font-family: League Spartan ;
          font-size: 50px;
      }
      p{
          max-width: 700px;
          font-family: League Spartan ;
          font-size: 20px;
      }
/* estilo de las paginas carrusel y textos*/

.container {
  position: relative;
  width: 70%;/*de 80 a 70*/
  object-fit: cover;  /*agregado*/
}/*agregado */

.container:hover{
          width: 70%;
      }

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}


.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: none;
 font-family: League Spartan ;    
}

/*estilo del acordion*/
    /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #001f4d;
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
   height: 80px; 
    font-family:League Spartan ;
}

/* Add a background color to the button if it is clicked on (add the .active class w ith JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #020d2f;
    
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #064469;
  color: #ffffff;
  display: none;
  overflow: hidden;
  height: auto;
  font-family:League Spartan ;

}  
      

  /*footer estilo */
      footer{
        height: 190px;
          background: #020d2f;
          color: #FFFFFF;   
      }
  
.footerlinks {
  width:auto;
  float:left;
  padding: 20px;
  font-size:16px;
  line-height:15px;
  text-align:left; 
   font-family: League Spartan;
}
      h2{
          font-size: 18px;
      }
      
.footerlinks:nth-child(4) {
  padding-right:0;
}
.footerlinks h2 {
  margin-bottom:20px; 
    font-family: League Spartan;
}
.footerlinks a:visited,.footerlinks a:link{
  text-decoration:none;
    color:#ffffff;
}
.footerlinks a:hover,.footerlinks a:active{
  color:aqua;
}


/*diseño desplegable*/
.sidepanel  {
  width:0;
  position: fixed;
  z-index: 1;
  height: 250px;
  top: 0;
  left: 0;
  background-color: pink;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidepanel a:hover {
  color: #f1f1f1;
 
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none; 
}

.openbtn:hover {
  background-color:blue;
}

/*fin del menu desplegable*/

@media only screen and (max-device-width : 480px){
  nav{
    display: none;
 }
 .openbtn {
  display: block;
cursor: pointer;
}
footer{
  width: 80%;
}
 
}
